* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    line-height: 1.4;
}


.savedRedditsH2 {
    height: 100px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005792;

}
.savedReddits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.savedRedditWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 640px) {
    .savedRedditsH2 {
        font-size: 20px;
        height: 80px;
    }
}