* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    line-height: 1.4;
}

/*  .gb {
    border: 1px solid red;
}    */

@keyframes blendShiftComment {
    0% {
        opacity: 0;
        margin-top: -50px;
    }
    100% {
        opacity: 1;
        margin-top: 10px;
    }
}

.comment {
    padding: 15px 10px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    margin-top: 10px; /* Start position above the original position */
  /*   animation: blendShiftComment 0.3s ease-out forwards; */
  transition: all 0.3s ease;
}

.commentInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.commentUser {
    font-weight: 700;
    text-decoration: none;
    color: #FF6B6B;
    transition: opacity 0.3s linear;
}
@media (hover: hover) {
    .commentUser:hover {
        opacity: 70%;
        transition: opacity 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}
.commentUser:active {
    opacity: 50%;
}
.commentTimePosted {
    font-weight: 400;
    font-size: 13px;
    color: #80abc9;
}
.commentContent {
    word-break: break-word;
}
.infoLine {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-top: 5px;

}
.arrowUp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowUp svg {
    color: #005792;
    width: 100%;
    height: auto;
}
.score {
    color: #005792;
    font-weight: 700;
}
.repliesButton {
    font-size: 13px;
    color: white;
    border-radius: 8px;
    padding: 4px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    display:  flex;
    align-items: center;
    transition: scale 0.3s linear;
}
.repliesButton span {
    margin-right: 2px;
}
@media (hover: hover) {
    .repliesButton:hover {
        scale: 0.9;
        transition: scale 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}
.repliesButton:active {
    opacity: 50%;
}
.closeCross {
    display: flex;
}


@media only screen and (max-width: 560px) {
    .commentInfo {
        height: 20px;
    }
    .commentUser {
        font-size: 14px;
    }
    .commentTimePosted {
        font-size: 12px;
    }
    .score {
        font-size: 14px;
    }
    .repliesButton {
        font-size: 12px;
    }
    .commentContent p {
        font-size: 14px;
    }
}